* { margin: 0; padding: 0; text-align: center; }

html { font-size: 28px; font-family: 'Lato', sans-serif; }

#info {
	margin: auto; height: 600px; width: 50%;
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0; 
	color: #333; 
	opacity: 0.9; 
}

H1 { TEXT-TRANSFORM: UPPERCASE; FONT-SIZE: 300%; LINE-HEIGHT: 1EM; MARGIN-BOTTOM: 1EM; FONT-WEIGHT: 900; OVERFLOW: HIDDEN;}
P { BACKGROUND: #DFDFDF; OPACITY: 0.8; PADDING: 0.5EM 0.25EM; }

#space { margin: 0 auto; background: #FFF; }

FOOTER { POSITION: ABSOLUTE; RIGHT: 15PX; BOTTOM: 15PX; TEXT-ALIGN: RIGHT; COLOR: #666; FONT-SIZE: 0.8EM; }
FOOTER A { COLOR: #333; }

#legend {
    margin: auto;
    position: absolute; left: 15px; bottom: 150px; text-align: left; 
    color: #333;
    opacity: 0.9;
    font-size: 0.5em;
}
